*{
  padding: 0;
  margin: 0;
}
.submit{
  color: aliceblue;
  width: 60px;
  background-color: rgb(8, 8, 248);
}
.style{
  text-align: center;
  /* background-color: #eba44e; */
  background-image: url(../img/tugla.png); 
}

